version: '3'
services:
  marathon:
    image: mesosphere/marathon:v1.6.335
    network_mode: host
    restart: always
    ports:
      - 8080:8080
    volumes:
      - /etc/marathon:/etc/marathon
    command: >
      --master zk://{% for host in groups['tag_role_zookeeper'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos
      --zk zk://{% for host in groups['tag_role_zookeeper'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/marathon
      --logging_level warn
      --hostname {{ tags.host }}
      --plugin_dir /etc/marathon/plugins
      --plugin_conf /etc/marathon/plugin-conf.json
      --disable_ha
      --disable_metrics
    environment:
      JAVA_OPTS: "-Xmx512m -Dfile.encoding=UTF-8"
      SERVICE_NAME: system/marathon
      SERVICE_CHECK_TCP: "true"
