version: '3'
services:
  mesos-master:
    image: mesosphere/mesos-master:1.5.0
    network_mode: host
    restart: always
    volumes:
      - /var/data/mesos-master/logs:/mesos/logs
      - /var/data/mesos-master/work:/mesos/work
    ports:
      - 5050:5050
    environment:
      MESOS_ZK: zk://{% for host in groups['tag_role_zookeeper'] %}{{ hostvars[host]['ec2_private_ip_address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos
      MESOS_QUORUM: 1
      MESOS_CLUSTER: mesos
      MESOS_REGISTRY: replicated_log
      MESOS_ADVERTISE_IP: {{ ansible_default_ipv4.address }}
      MESOS_PORT: 5050
      MESOS_HOSTNAME: {{ ec2_tag_host }}
      MESOS_LOGGING_LEVEL: WARNING
      MESOS_LOG_DIR: /mesos/logs
      MESOS_WORK_DIR: /mesos/work
      MESOS_ZK_SESSION_TIMEOUT: 60secs
      SERVICE_NAME: system/mesos-master
      SERVICE_CHECK_TCP: "true"
