version: '3'
services:
  mesos-master:
    image: mesosphere/mesos-master:1.5.0
    network_mode: host
    restart: always
    volumes:
      - /var/data/mesos-master/logs:/mesos/logs
      - /var/data/mesos-master/work:/mesos/work
    ports:
      - 5050:5050
    command: >
      --zk=zk://{% for host in groups['tag_role_zookeeper'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos
      --quorum={{ ((groups['tag_role_zookeeper'] | length / 2) | int) + 1 }}
      --cluster=mesos
      --registry=replicated_log
      --advertise_ip={{ ansible_default_ipv4.address }}
      --hostname={{ tags.Name }}
      --port=5050
      --logging_level=WARNING
      --log_dir=/mesos/logs
      --work_dir=/mesos/work
      --zk_session_timeout=60secs
    environment:
      SERVICE_NAME: system/mesos-master
      SERVICE_CHECK_TCP: "true"
