version: '3'
services:
  postfix:
    image: catatnight/postfix
    restart: always
    ports:
      - '2525:25'
    volumes:
      - /var/data/postfix:/var/lib/postfix
    command: |
      bash -c '
        postconf -e message_size_limit={{ postfix_message_size_limit }} \
          && /opt/install.sh \
          && /usr/bin/supervisord -c /etc/supervisor/supervisord.conf
      '
    environment:
      maildomain: "{{ postfix_mail_domain }}"
      smtp_user: "{{ postfix_smtp_users }}"
      SERVICE_NAME: system/postfix
