# {{ ansible_managed }}
port {{ openvpn_port }}
proto {{ openvpn_protocol }}
dev tun

server {{ openvpn_network }} 255.255.255.0
duplicate-cn

{% for net in private_networks %}
push "route {{ net.address }} {{ net.mask }}"
{% endfor %}

{% for dns in dns_servers %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}

keepalive 10 120

ca ca.crt
cert server.crt
key server.key
dh dh{{ openvpn_key_size }}.pem

cipher {{ openvpn_cipher }}
auth {{ openvpn_auth_digest }}

{{ openvpn_auth_type }}

user openvpn
group openvpn
persist-key
persist-tun

status /var/log/openvpn-status.log
log-append  /var/log/openvpn.log

verb 3
