version: '3'
services:
  mesos-slave:
    image: mesosphere/mesos-slave:1.5.0
    network_mode: host
    privileged: true
    restart: always
    volumes:
      - /usr/bin/docker:/usr/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/sys
      - /cgroup:/cgroup
      - /var/data/mesos-slave/logs:/mesos/logs
      - /var/data/mesos-slave/work:/mesos/work
    environment:
      MESOS_MASTER: zk://{% for host in groups['tag_role_zookeeper'] %}{{ hostvars[host]['ec2_private_ip_address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos
      MESOS_CONTAINERIZERS: mesos,docker
      MESOS_RESOURCES: ports(*):[11000-11999]
      MESOS_PORT: 5051
      MESOS_HOSTNAME: {{ ec2_tag_host }}
      MESOS_SWITCH_USER: 0
      MESOS_LOGGING_LEVEL: INFO
      MESOS_LOG_DIR: /mesos/logs
      MESOS_WORK_DIR: /mesos/work
      MESOS_GC_DELAY: 1days
      MESOS_EXECUTOR_SHUTDOWN_GRACE_PERIOD: 30secs
      MESOS_EXECUTOR_REGISTRATION_TIMEOUT: 30mins
      MESOS_SYSTEMD_ENABLE_SUPPORT: "false"
      SERVICE_NAME: system/mesos-slave
