version: '3'
services:
  mesos-slave:
    image: mesosphere/mesos-slave:1.5.0
    network_mode: host
    privileged: true
    restart: always
    volumes:
      - /usr/bin/docker:/usr/bin/docker
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/sys
      - /cgroup:/cgroup
      - /var/data/mesos-slave/logs:/mesos/logs
      - /var/data/mesos-slave/work:/mesos/work
    ports:
      - 5051:5051
    command: >
      --master=zk://{% for host in groups['tag_role_zookeeper'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2181{% if not loop.last %},{% endif %}{% endfor %}/mesos
      --containerizers=docker
      --resources="ports(*):[11000-11999];mem:{{ ansible_memtotal_mb }}"
      --reconfiguration_policy=additive
      --port=5051
      --hostname={{ tags.Name }}
      --switch_user=0
      --logging_level=WARNING
      --log_dir=/mesos/logs
      --work_dir=/mesos/work
      --gc_delay=1days
      --executor_shutdown_grace_period=30secs
      --executor_registration_timeout=30mins
      --systemd_enable_support="false"
    environment:
      SERVICE_NAME: system/mesos-slave
      SERVICE_CHECK_TCP: "true"
