---
- file: path=/etc/{{ project_name }}/ state=directory

- name: Copy grafana.env config
  template: src=grafana.env.j2 dest=/etc/{{ project_name }}/grafana.env
  register: envs

- name: Copy docker-compose
  template: src=docker-compose.yml.j2 dest=/etc/compose/grafana.yml
  register: compose

- name: Run docker container
  command: docker-compose --file=/etc/compose/grafana.yml up -d --force-recreate
  when: compose.changed or envs.changed

- name: Routing for grafana
  command: >
    curl -XPUT -f -d '{"routes":[{"host":"grafana.{{ env_domain }}"}]}' http://127.0.0.1:8500/v1/kv/services/routes/system/grafana
  when: compose.changed or envs.changed

- cron:
    name: "Backup grafana database"
    minute: 30
    hour: 3
    cron_file: "grafana-backup"
    user: root
    job: >
      docker run --rm -v /var/data/grafana:/data:ro -v /etc/{{ project_name }}/secrets/aws-backup-s3cfg:/root/.s3cfg
      samepagelabs/s3cmd put /data/grafana.db s3://{{ s3_backet_for_backups }}/grafana/grafana-`date +\%d`.db
