version: '3'
services:
  consul-agent:
    image: consul:1.0.7
    network_mode: host
    restart: always
    command: "agent -datacenter={{ tags.env }} -advertise={{ ansible_default_ipv4.address }} -client=0.0.0.0 {% for host in groups['tag_role_consul_server'] %}-retry-join={{ hostvars[host]['ansible_default_ipv4']['address'] }} {% endfor %}"
    volumes:
      - /var/data/consul/data:/consul/data
