global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'system'
    consul_sd_configs:
      - server: 'localhost:8500'
        services:
          - system/prometheus
          - system/prom-node-exporter
          - system/cadvisor
          - system/serve-nginx-ingress
          - system/prometheus-es-exporter
          - system/prometheus-rabbitmq-exporter
          - system/prometheus-postgres-dbexporter
          - system/prom-consul-exporter

    relabel_configs:
      - source_labels: [__meta_consul_node]
        target_label:  instance

      - source_labels: [__meta_consul_service]
        regex:         ^system\/(.+)$
        target_label:  job
        replacement:   '${1}'

  - job_name: 'apps'
    consul_sd_configs:
      - server: 'localhost:8500'

    relabel_configs:
      - source_labels: [__meta_consul_service]
        regex: ^({{ project_name }}\/.+)
        action: keep

      - source_labels: [__meta_consul_node]
        target_label: instance

      - source_labels: [__meta_consul_service]
        regex: ^{{ project_name }}\/(.+)-v[\d.]+$
        target_label: app

      - source_labels: [__meta_consul_service]
        regex: ^{{ project_name }}\/(.+[^\d]+)$
        target_label: app

      - source_labels: [__meta_consul_service]
        regex: ^{{ project_name }}\/.+-(v[\d.]+)$
        target_label: version
