version: '3'
services:
  serve-nginx-ingress{{ name_suffix }}:
    image: servehub/serve-nginx-ingress:{{ version }}
    network_mode: host
    restart: always
    user: 0:0
    ports:
      - "{{ listen_port }}:{{ listen_port }}"
    volumes:
      - /var/data/balancer{{ name_suffix }}/cache:/cache/nginx
      - /var/data/balancer{{ name_suffix }}/include.d:/etc/nginx/include.d
    environment:
      NGINX_LISTEN_PORT: "{{ listen_port }}"
      SERVE_ROUTE_FILTERS: "{{ route_filters }}"
      SERVICE_NAME: "system/serve-nginx-ingress{{ name_suffix }}"
      SERVICE_CHECK_TCP: "true"
